<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RestApiHost" value="https://lightupon.cloud"/>
    <add key="SyncFromServerIntervalInMinutes" value="4"/>
    <add key="SecondsToCacheServerList" value="2"/>
    <add key="SecondsToСheckChangedFiles" value="4"/>
    <add key="SentryDsn" value="https://0f00e946cbaa47dab33ce38e6a113825@sentry.io/1367787"/>
    <add key="UpdateUrl" value="https://lightupon.cloud/media/release/update.xml"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>